body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

header {
    background-image: url(https://image.cache.storm.mg/styles/smg-800x533-fp/s3/media/image/2016/02/25/20160225-033457_U3927_M131923_2073.png?itok=fOdkVYDV);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }  

#a1 {
    font-family: Microsoft JhengHei;
    text-align: left;
    height: 200px;
    width: 100%;
}

#a1 h1 {
    font-size: 40px;
}

#a1 h2 {
    font-size: 16px;
    line-height: 0.001;
}

.menu {
    overflow: hidden;
    background-image: linear-gradient(#555, #111);
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

/* Navbar links */

.menu a {
    float: left;
    display: block;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
}

/* Links - change color on hover */

.menu a:hover {
    background-color: #ddd;
    color: black;
}

#footer {
    height: 150px;
    background-image: linear-gradient(#111, #555);
}